html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    max-width: 60rem;
    margin:auto;
    font-family: 'Noto Sans Sinhala', serif;
    background: linear-gradient(#c8e6ff, #9dddff, #4fcdff, #2289ff);
    animation: fadeIn 4s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

header {
    background: url('./header-image.jpg') center/cover no-repeat;
    padding: 1rem 1rem;
    animation: fadeIn 1s ease-in-out;
}

#page-header1 {
    font-size:4rem;
    color: rgba(20, 49, 69, 0.6);
    margin-left: 3rem;
}

#page-header2 {
    font-size:4rem;
    color: rgba(3, 67, 83, 0.6);
    margin-left: 3rem;
}

.links {
    background-color: rgb(100, 140, 150);
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 4rem;
    margin: 0 auto;
    border-top: 0.2rem double white;
    border-bottom: 0.2rem double white;
    font-size: 1.1rem;
}

.links {
    position: sticky;
    top: 0;
    z-index: 0;
}

.links a {
    color: white;
    text-decoration: none;
}

.nav-link {
    padding: 0.2rem 0.2rem;
}

.active {
    background-color: rgba(21, 38, 60, 0.5);
    border-radius: 0.5rem;
    padding-left: 1%;
    padding-right: 1%;
}

#links-icon {
    width: 1rem;
    height: 0.9rem;
}

.outer {
    background-color: rgb(60, 60, 60);
}

.main {
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: rgb(60, 60, 60);
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.4rem;
    line-height: 1.5;
}

.main h2 {
    font-size: 2rem;
    text-align: center;
}

.main h3 {
    font-size: 1.1rem;
}

#about {
    padding-top: 5%;
    padding-bottom: 5%;
    color: rgba(255, 255, 255, 0.9);
}

#sub-about {
    padding-right: 3%;
}

#portfolio {
    padding-top: 5%;
    padding-bottom: 5%;
    color: rgba(255, 255, 255, 0.9);
}

#contact {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 12%;
    padding-right: 12%;
    color: rgba(255, 255, 255, 0.9);
}

#sociable-ai {
    color: white;
    text-decoration: none;
}

.socially {
    border-top: 0.1rem dashed white;
    border-bottom: 0.1rem dashed white;
    padding-bottom: 1rem;
}

.parse-lex {
    border-bottom: 0.1rem dashed white;
    padding-bottom: 1rem;
}

.terp-app {
    border-bottom: 0.1rem dashed white;
    padding-bottom: 1rem;
}

.fastest-route {
    border-bottom: 0.1rem dashed white;
    padding-bottom: 1rem;
}

.portfolio-website {
    border-bottom: 0.1rem dashed white;
    padding-bottom: 1rem;
}

.hover-contact {
    text-decoration: none;
    border: 2px solid transparent;
    position: relative;
    color: #3498db;
    transition: border 0.3s;
    margin-right: 20px;
    display: block;
}

.clickable:hover {
    border: 2px solid #3498db;
}

.hover-text {
    display: none;
    position: absolute;
    top: -110%;
    left: 8%;
    background-color: #3498db;
    color: #fff;
    padding: 2px 4px;
    border-radius: 5px;
    font-size: 0.8rem;
}

.hover-contact:hover .hover-text {
    display: block;
}

.direct-message {
    font-size: 1.7rem;
    text-align: center;
}

#name {
    width: 30%;
    border-radius: 0.5rem;
    padding: 0.3rem 0.6rem;
}

#email {
    width: 30%;
    border-radius: 0.5rem;
    padding: 0.3rem 0.6rem;
}

#message {
    width: 98%;
    border-radius: 0.5rem;
    padding: 0.3rem 0.6rem;
}

#submit {
    border-radius: 0.3rem;
    padding: 0.3rem 0.6rem;
    font-size: 1.1rem;
    background-color: rgb(100, 140, 150);
    color: rgba(255, 255, 255, 0.9);
}

footer {
    color: white;
    font-size: 0.8rem;
    text-align: center;
    padding-bottom: 1rem;
}